.menu-products {
  .box-item {
    @include grid-col-3;

    .view-item-button {
      opacity: 0;
    }

    &:hover {
      .view-item-button {
        opacity: 1;
      }
    }

    .product-image {
      height: 360px;
    }

    .content-wrap {
      margin-top: 26px;

      .product-link {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: $Dark;
        line-height: 26px;
        text-decoration: none;
      }
    }

    .image-1 {
      background-image: url(/public/app/images/image_product_1.jpeg);
    }

    .image-2 {
      background-image: url(/public/app/images/image_product_2.jpeg);
    }

    .image-3 {
      background-image: url(/public/app/images/image_product_3.jpeg);
    }

    .image-4 {
      background-image: url(/public/app/images/image_product_4.jpeg);
    }

    .image-5 {
      background-image: url(/public/app/images/image_product_5.jpg);
    }

    .image-6 {
      background-image: url(/public/app/images/image_product_6.jpg);
    }

    .image-7 {
      background-image: url(/public/app/images/image_product_7.jpg);
    }

    .image-8 {
      background-image: url(/public/app/images/image_product_8.jpg);
    }

    .image-9 {
      background-image: url(/public/app/images/image_product_9.jpg);
    }

    .image-10 {
      background-image: url(/public/app/images/image_product_10.jpg);
    }

    .image-11 {
      background-image: url(/public/app/images/image_product_11.jpg);
    }

    .image-12 {
      background-image: url(/public/app/images/image_product_12.jpg);
    }
  }
}

@media (max-width: 992px) {
  .menu-products {
    .box-item {
      @include grid-col-4;
    }
  }
}

@media (max-width: 768px) {
  .menu-products {
    .box-item {
      @include grid-col-6;
    }
  }
}

@media (max-width: 479px) {
  .menu-products {
    .box-item {
      @include grid-col-4;
    }
  }
}
