@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  color: $Dark;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

@mixin grid-laptop {
  width: 100%;
  max-width: 738px;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(8, 1fr);
}

@mixin grid-tablet {
  max-width: none;
  grid-column-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

@mixin grid-mobile {
  grid-column-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}

@mixin grid-col-12 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 12;
  grid-column-end: span 12;
}

@mixin grid-col-9 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 9;
  grid-column-end: span 9;
}

@mixin grid-col-8 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 8;
  grid-column-end: span 8;
}

@mixin grid-col-6 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

@mixin grid-col-4 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 4;
  grid-column-end: span 4;
}

@mixin grid-col-3 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}

@mixin grid-col-2 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 2;
  grid-column-end: span 2;
}

@mixin grid-col-1 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  outline: 0 !important;
}

a {
  color: #18181d;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
}

.m50-100 {
  padding-top: 50px;
  padding-bottom: 100px;
}

.m0-50 {
  padding-top: 0;
  padding-bottom: 50px;
}

.m50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.m100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.m0-100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.m80-50 {
  padding-top: 80px;
  padding-bottom: 50px;
}

.layout-grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  display: flex;
  padding-right: 36px;
  padding-left: 36px;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: flex-start;
}

.max-width-100 {
  max-width: 100%;
}

.button-large {
  display: flex;
  padding: 30px 36px;
  justify-content: space-between;
  align-items: center;
  background-color: $Dark;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none !important;
  text-transform: uppercase;
}

.outline-button-large {
  border: 1px solid $WhiteSmoke;
  background-color: #fff;
  color: #1f2121;
}

.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  flex: 0 0 auto;
}

.button-small {
  display: flex;
  padding: 18px 30px;
  align-items: center;
  flex: 0 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 0px;
  background-color: #18181d;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: #1f2121;
  }
}

.white-small {
  justify-content: center;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.img-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.paragraph-70 {
  margin-bottom: 10px;
  opacity: 0.7;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 22px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(170, 170, 170, 0.2);
  background-color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.inside-label {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 40;
  border-style: none;
  background-color: #fff;
  color: $Dark;
  opacity: .8;
}

.sale-label {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 40;
  border-style: none;
  border-width: 0px;
  background-color: $Dark;
  color: #fff;
  opacity: .8;
}

.item-overlay {
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.1), rgba(24, 24, 29, 0.1));
  position: absolute;
  z-index: 30;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.product-image {
  display: flex;
  height: 480px;
  justify-content: space-between;
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
}

.size1-text {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 300;
  white-space: normal;
}

.size2-text {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 38px;
  line-height: 46px;
  font-weight: 300;
}

.size3-text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  text-transform: none;
}

.size4-text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.size5-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.size6-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.spaced-word-label {
  opacity: 1;
  letter-spacing: 2px;
}

.size1-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 300;
  white-space: normal;
}

.size2-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 38px;
  line-height: 46px;
  font-weight: 300;
}

.size3-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #18181d;
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    color: #18181d;
    opacity: .7;
    text-decoration: none;
  }
}

.text-label {
  display: block;
  margin-bottom: 10px;
  opacity: 0.7;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.button-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $Dark;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $Dark;
  }
}

.invisible {
  visibility: hidden !important;
}

.white-outline-label {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: hsla(0, 0%, 100%, 0.1);
}

.success-message {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px;
  border-bottom: 3px solid #12b878;
  background-color: rgba(18, 184, 120, 0.1);
  color: #12b878;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.error-message {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px 20px;
  border-bottom: 3px solid #db4b68;
  background-color: rgba(219, 75, 104, 0.05);
  color: #db4b68;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

.text-field {
  width: 100%;
  margin-bottom: 0px;
  padding: 30px 20px;
  align-self: stretch;
  border-style: none;
  border-radius: 0px;
  background-color: #f5f5f5;
  color: #18181d;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 992px) {
  .layout-grid {
    @include grid-laptop;
  }

  .section {
    padding-right: 24px;
    padding-left: 24px;
  }

  .content {
    max-width: 738px;
  }

  .outline-button-large {
    margin-top: 0;
  }

  .button-large {
    width: 100%;
  }

  .success-message {
    max-width: 738px;
  }

  .error-message {
    max-width: 738px;
  }
}

.w-input {
  display: block;
  width: 100%;
  height: 38px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

@media (max-width: 768px) {
  .layout-grid {
    @include grid-tablet;
  }

  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .size1-text {
    font-size: 34px;
    line-height: 42px;
  }

  .success-message {
    width: 100%;
    max-width: none;
  }

  .error-message {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 479px) {
  .layout-grid {
    @include grid-mobile;
  }

  .section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .button-small {
    justify-content: center;
    align-self: stretch;
    flex: 1;
  }

  .button-large {
    font-size: 14px;
    line-height: 22px;
  }
}
