@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  color: $black;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

@mixin grid-pc {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

@mixin grid-laptop {
  width: 100%;
  max-width: 738px;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(8, 1fr);
}

@mixin grid-tablet {
  max-width: none;
  grid-column-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

@mixin grid-mobile {
  grid-column-gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}

@mixin grid-col-12 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 12;
  grid-column-end: span 12;
}

@mixin grid-col-8 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 8;
  grid-column-end: span 8;
}

@mixin grid-col-6 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

@mixin grid-col-4 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 4;
  grid-column-end: span 4;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  outline: 0 !important;
}

.section {
  display: flex;
  padding-right: 36px;
  padding-left: 36px;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-large {
  display: flex;
  padding: 30px 36px;
  justify-content: space-between;
  align-items: center;
  background-color: #18181d;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none !important;
  text-transform: uppercase;
}

.outline-button-large {
  border: 1px solid #ebedee;
  background-color: #fff;
  color: #1f2121;
}

.button-small {
  display: flex;
  padding: 18px 30px;
  align-items: center;
  flex: 0 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none !important;
  text-align: center;
  text-transform: uppercase;
}

.white-small {
  justify-content: center;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.img-warp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

@media (max-width: 992px) {
  .section {
    padding-right: 24px;
    padding-left: 24px;
  }

  .outline-button-large {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  .section {
    padding-right: 16px;
    padding-left: 16px;
  }
}
