.main-container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header-section {
  position: relative;
}

.top-header {
  background-color: #f2f2f2;
  display: inline-block;
  width: 100%;
  line-height: 60px;

  .dropdown-bar h5 {
    color: #333;
    display: inline-block;
    margin: 0;
    line-height: 28px;
    letter-spacing: 0.28px;
    padding-right: 30px;
    text-transform: capitalize;
  }

  .language-dropdown .dropdown-menu {
    border-radius: 0;
    border: none;
    margin: 0;
  }

  .dropdown .btn {
    font-size: 14px;
    background-color: transparent;
    padding: 0;
    color: #333;
  }

  .language-dropdown.dropdown {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }

  .language-dropdown.dropdown::before {
    background-color: #cdcdcd;
    content: "";
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
  }

  .language-dropdown.dropdown .caret {
    margin-left: 10px;
  }
}