@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
body {
  font-family: "Work Sans", sans-serif;
  color: #18181d;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
html ::-webkit-scrollbar-thumb {
  background: #888;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  outline: 0 !important;
}

.header-section {
  width: 100%;
  padding: 22px 36px;
  background-color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #ebedee;
}

.nav-menu-warp {
  justify-self: end;
  flex: 1;
}

.navbar-menu {
  position: relative;
  display: block;
  margin-left: auto;
  padding: 0 10px;
  transform: translateY(0px) translateX(0px);
}
.navbar-menu a {
  color: #18181d;
  text-decoration: none;
  line-height: 26px;
  cursor: pointer;
  padding: 10px;
}
.navbar-menu a:hover {
  opacity: 0.7;
  color: #18181d;
}

.cart-button {
  padding: 0;
  cursor: pointer;
}
.cart-button img {
  width: 16px;
}

.cart-wrap {
  opacity: 0;
  transition: opacity 300ms ease 0s;
  background-color: rgba(24, 24, 29, 0.3);
  color: #fff;
  align-items: stretch;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}
.cart-wrap.active {
  opacity: 1;
  display: flex;
  flex-direction: row;
}

.cart-container {
  transform: none;
  min-width: 440px;
  background-color: #18181d;
  box-shadow: 0 2px 6px 0 rgba(24, 24, 29, 0.1);
}
.cart-container.active {
  transform: translateX(0px);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.cart-container .cart-header {
  padding: 25px 32px;
  border-bottom-color: #2c2c33;
}
.cart-container .cart-header .cart-heading {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cart-container .cart-header .close-button {
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.cart-container .cart-header .close-button-icon {
  opacity: 0.5;
}

.user-button {
  margin-left: 23px;
  color: #18181d;
  padding: 3px;
  font-size: 16px;
  cursor: pointer;
}
.user-button:hover {
  opacity: 0.7;
  color: #18181d;
}

.menu-button {
  margin-left: 24px;
  display: none;
  cursor: pointer;
}
.menu-button:hover {
  opacity: 0.7;
}
.menu-button img {
  width: 20px;
}

.navbar-menu-overlay {
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
}
.navbar-menu-overlay .menu-overlay {
  display: flex;
  flex-direction: column;
  top: 0;
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 0s;
  border-bottom: 1px solid #ebedee;
}
.navbar-menu-overlay .menu-overlay a {
  padding: 14px 24px;
  color: #18181d;
}

@media (max-width: 992px) {
  .navbar-menu {
    display: none;
  }

  .cart-button {
    margin-left: auto;
  }

  .menu-button {
    display: block;
  }

  .navbar-menu-overlay.active {
    display: block;
  }
}
.banner {
  min-height: 640px;
  padding-right: 36px;
  padding-left: 36px;
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url(/public/app/images/banner_img.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
}

.banner-section {
  padding-right: 36px;
  padding-left: 36px;
}

.banner-grid {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.banner-content {
  padding: 50px;
  flex-direction: column;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}
.banner-content .banner-text {
  flex: 1;
  margin-bottom: 30px;
}
.banner-content .banner-text .text-content {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
  line-height: 96px;
  font-weight: 300;
}
.banner-content .button-small {
  max-width: 100%;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px 30px;
  text-decoration: none;
  flex: 0 0 auto;
  text-transform: uppercase;
}
.banner-content .button-small .arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  flex: 0 0 auto;
}

@media (max-width: 992px) {
  .banner {
    padding: 0;
  }

  .banner-section {
    padding-right: 24px;
    padding-left: 24px;
  }

  .banner-grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(8, 1fr);
  }

  .banner-content {
    grid-column-start: span 8;
    grid-column-end: span 8;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
}
@media (max-width: 768px) {
  .banner {
    min-height: 600px;
  }

  .banner-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .banner-grid {
    max-width: none;
    grid-column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .banner-content {
    grid-column-start: span 8;
    grid-column-end: span 8;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  .banner-content .banner-text .text-content {
    font-size: 34px;
    line-height: 42px;
  }

  .button-small {
    padding: 18px 25px;
  }
}
@media (max-width: 479px) {
  .banner-section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .banner-grid {
    grid-column-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
  }

  .banner-content {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}
