@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap);
body {
  font-family: "Work Sans", sans-serif;
  color: #18181d;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  outline: 0 !important;
}

.section {
  display: flex;
  padding-right: 36px;
  padding-left: 36px;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: flex-start;
}

.max-width-100 {
  max-width: 100%;
}

.button-large {
  display: flex;
  padding: 30px 36px;
  justify-content: space-between;
  align-items: center;
  background-color: #18181d;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none !important;
  text-transform: uppercase;
}

.outline-button-large {
  border: 1px solid #ebedee;
  background-color: #fff;
  color: #1f2121;
}

.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  flex: 0 0 auto;
}

.button-small {
  display: flex;
  padding: 18px 30px;
  align-items: center;
  flex: 0 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 0px;
  background-color: #18181d;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button-small:hover {
  text-decoration: none;
  color: #1f2121;
}

.white-small {
  justify-content: center;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  text-align: center;
}

.text-wrap {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.img-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item-overlay {
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.1), rgba(24, 24, 29, 0.1));
  position: absolute;
  z-index: 30;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}
.item-overlay:hover {
  text-decoration: none;
}

.product-image {
  display: flex;
  height: 480px;
  justify-content: space-between;
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
}

@media (max-width: 992px) {
  .section {
    padding-right: 24px;
    padding-left: 24px;
  }

  .content {
    max-width: 738px;
  }

  .outline-button-large {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 479px) {
  .section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .button-small {
    justify-content: center;
    align-self: stretch;
    flex: 1;
  }
}
.header-section {
  width: 100%;
  padding: 22px 36px;
  background-color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #ebedee;
}

.nav-menu-wrap {
  justify-self: end;
  flex: 1;
}

.navbar-menu {
  position: relative;
  display: block;
  margin-left: auto;
  padding: 0 10px;
  transform: translateY(0px) translateX(0px);
}
.navbar-menu a {
  color: #18181d;
  text-decoration: none;
  line-height: 26px;
  padding: 10px;
}
.navbar-menu a:hover {
  opacity: 0.7;
  color: #18181d;
}

.cart-button {
  padding: 0;
  cursor: pointer;
}
.cart-button img {
  width: 16px;
}

.cart-wrap {
  opacity: 0;
  transition: opacity 300ms ease 0s;
  background-color: rgba(24, 24, 29, 0.3);
  color: #fff;
  align-items: stretch;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}
.cart-wrap.active {
  opacity: 1;
  display: flex;
  flex-direction: row;
}

.cart-container {
  transform: none;
  min-width: 440px;
  background-color: #18181d;
  box-shadow: 0 2px 6px 0 rgba(24, 24, 29, 0.1);
}
.cart-container.active {
  transform: translateX(0px);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.cart-container .cart-header {
  padding: 25px 32px;
  border-bottom-color: #2c2c33;
}
.cart-container .cart-header .cart-heading {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cart-container .cart-header .close-button {
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.cart-container .cart-header .close-button-icon {
  opacity: 0.5;
}

.user-button {
  margin-left: 23px;
  color: #18181d;
  padding: 3px;
  font-size: 16px;
  cursor: pointer;
}
.user-button:hover {
  opacity: 0.7;
  color: #18181d;
}

.menu-button {
  margin-left: 24px;
  display: none;
  cursor: pointer;
}
.menu-button:hover {
  opacity: 0.7;
}
.menu-button img {
  width: 20px;
}

.navbar-menu-overlay {
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
}
.navbar-menu-overlay .menu-overlay {
  display: flex;
  flex-direction: column;
  top: 0;
  transform: translateY(0px) translateX(0px);
  transition: transform 400ms ease 0s;
}
.navbar-menu-overlay .menu-overlay a {
  padding: 14px 24px;
  color: #18181d;
}

@media (max-width: 992px) {
  .navbar-menu {
    display: none;
  }

  .cart-button {
    margin-left: auto;
  }

  .menu-button {
    display: block;
  }

  .navbar-menu-overlay.active {
    display: block;
    z-index: 15;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ebedee;
    background-color: #fff;
  }
}
.banner {
  min-height: 640px;
  padding-right: 36px;
  padding-left: 36px;
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url(/public/app/images/banner_img.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
}

.banner-grid {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.banner-content {
  padding: 50px;
  flex-direction: column;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}
.banner-content .banner-text {
  flex: 1;
  margin-bottom: 30px;
}
.banner-content .banner-text .text-content {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
  line-height: 96px;
  font-weight: 300;
}

@media (max-width: 992px) {
  .banner {
    padding: 0;
  }

  .banner-grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(8, 1fr);
  }

  .banner-content {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 8;
    grid-column-end: span 8;
  }
}
@media (max-width: 768px) {
  .banner {
    min-height: 600px;
  }

  .banner-grid {
    max-width: none;
    grid-column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .banner-content {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 8;
    grid-column-end: span 8;
  }
  .banner-content .banner-text .text-content {
    font-size: 34px;
    line-height: 42px;
  }
}
@media (max-width: 479px) {
  .banner-grid {
    grid-column-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
  }

  .banner-content {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}
.menu {
  padding-bottom: 50px;
}

.menu-grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.menu-headline-wrap {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 12;
  grid-column-end: span 12;
  position: relative;
  width: 479px;
  margin-top: 30px;
}

.headline-wrap-text {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 300;
  white-space: normal;
}

.layout-list {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}
.layout-list .view-product-button {
  display: none;
}
.layout-list:hover .view-product-button {
  display: block;
}
.layout-list .menu-image-1 {
  height: 700px;
  background-image: url(/public/app/images/rose_gold_in_room.jpg);
  background-position: 50% 0%;
  background-size: cover;
}
.layout-list .menu-image-2 {
  height: 520px;
  background-image: url(/public/app/images/belmont_essence_1_low.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.menu-product-name-wrap {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
  width: 273px;
  margin-top: 15px;
}

.menu-product-description-wrap {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
  margin-top: 15px;
}
.menu-product-description-wrap .paragraph {
  margin-bottom: 10px;
  opacity: 0.7;
}

.menu-button-wrap {
  grid-column-end: 13;
  grid-column-start: 7;
  grid-row-end: 5;
  grid-row-start: 4;
}
.menu-button-wrap:hover .outline-button-large {
  border: 1px solid #c2c3c4;
  color: #1f2121;
}

@media (max-width: 992px) {
  .menu-grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(8, 1fr);
  }

  .menu-headline-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 8;
    grid-column-end: span 8;
    width: auto;
  }

  .list-items-1 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 8;
    grid-column-end: span 8;
  }

  .list-items-2 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .layout-list .menu-image-1 {
    height: 640px;
  }
  .layout-list .menu-image-2 {
    height: 460px;
  }

  .menu-product-name-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
    width: auto;
  }

  .menu-product-description-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
    margin-top: 0;
  }

  .menu-button-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 8;
    grid-column-end: span 8;
  }
}
@media (max-width: 768px) {
  .menu-grid {
    max-width: none;
    grid-column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .headline-wrap-text {
    font-size: 34px;
    line-height: 42px;
  }

  .menu-headline-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .layout-list {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
  .layout-list .menu-image-1 {
    height: 460px;
  }

  .menu-product-name-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .menu-product-description-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .menu-button-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
}
@media (max-width: 479px) {
  .menu-grid {
    grid-column-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
  }

  .menu-headline-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .layout-list {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
  .layout-list .menu-image-1 {
    height: 400px;
  }
  .layout-list .menu-image-2 {
    height: 400px;
  }

  .menu-product-name-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .menu-product-description-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .menu-button-wrap {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}
.option-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.option-grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.option-title {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}
.option-title .text-label {
  display: block;
  margin-bottom: 10px;
  opacity: 0.7;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.option-title .text-wrap {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 38px;
  font-weight: 300;
  text-transform: none;
}

@media (max-width: 992px) {
  .option-grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(8, 1fr);
  }

  .option-title {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 8;
    grid-column-end: span 8;
  }
}
@media (max-width: 768px) {
  .option-grid {
    max-width: none;
    grid-column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .option-title {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
}
@media (max-width: 479px) {
  .option-grid {
    grid-column-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
  }

  .option-title {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}
.menu-products {
  padding-top: 50px;
  padding-bottom: 50px;
}

.product-grid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.box-item {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}
.box-item .view-item-button {
  opacity: 0;
}
.box-item:hover .view-item-button {
  opacity: 1;
}
.box-item .product-image {
  height: 360px;
}
.box-item .product-image .label {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 22px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(170, 170, 170, 0.2);
  background-color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.box-item .product-image .inside-label {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 40;
  border-style: none;
  background-color: #fff;
  color: #18181d;
}
.box-item .product-image .sale-label {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 40;
  border-style: none;
  border-width: 0px;
  background-color: #18181d;
  color: #fff;
}
.box-item .content-wrap {
  margin-top: 26px;
}
.box-item .content-wrap .product-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #18181d;
  line-height: 26px;
  text-decoration: none;
}
.box-item .image-1 {
  background-image: url(/public/app/images/image_product_1.jpeg);
}
.box-item .image-2 {
  background-image: url(/public/app/images/image_product_2.jpeg);
}
.box-item .image-3 {
  background-image: url(/public/app/images/image_product_3.jpeg);
}
.box-item .image-4 {
  background-image: url(/public/app/images/image_product_4.jpeg);
}
.box-item .image-5 {
  background-image: url(/public/app/images/image_product_5.jpg);
}
.box-item .image-6 {
  background-image: url(/public/app/images/image_product_6.jpg);
}
.box-item .image-7 {
  background-image: url(/public/app/images/image_product_7.jpg);
}
.box-item .image-8 {
  background-image: url(/public/app/images/image_product_8.jpg);
}
.box-item .image-9 {
  background-image: url(/public/app/images/image_product_9.jpg);
}
.box-item .image-10 {
  background-image: url(/public/app/images/image_product_10.jpg);
}
.box-item .image-11 {
  background-image: url(/public/app/images/image_product_11.jpg);
}
.box-item .image-12 {
  background-image: url(/public/app/images/image_product_12.jpg);
}
.box-item .invisible {
  visibility: hidden !important;
}

@media (max-width: 992px) {
  .product-grid {
    width: 100%;
    max-width: 738px;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(8, 1fr);
  }

  .box-item {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}
@media (max-width: 768px) {
  .product-grid {
    max-width: none;
    grid-column-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
  }

  .box-item {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
}
@media (max-width: 479px) {
  .product-grid {
    grid-column-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
  }

  .box-item {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 4;
    grid-column-end: span 4;
  }
}
.show-product-button:hover {
  color: #fff;
}
