.item-trending {
  @include grid-col-4;

  .product2-content-wrap {
    @include grid-col-6;
    background-image: url(/public/app/images/Lamp_SolisDrum_Sunset.jpg);
    z-index: 5;
    display: flex;
    min-height: 582px;
    padding: 36px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    background-position: 50% 50%;
    background-size: cover;
    color: #ebedee;
  }

  .product2-content-wrap-image2 {
    background-image: url(/public/app/images/SwellBrass_Essence.jpg);
  }

  .product2-content-wrap-image3 {
    background-image: url(/public/app/images/Circa_Floor_Pedestal_Environ.jpg);
  }
}

.product2-content-card-wrap {
  display: flex;
  margin-top: 40px;
  padding: 20px 36px 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background-color: #fff;
  color: #18181d;

  .product2-name-wrap {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .item-trending {
    @include grid-col-8;

    .product2-content-wrap {
      @include grid-col-8;
    }
  }
}

@media (max-width: 768px) {
  .item-trending {
    @include grid-col-6;

    .product2-content-wrap {
      @include grid-col-6;
    }
  }
}

@media (max-width: 479px) {
  .item-trending {
    @include grid-col-4;

    .product2-content-wrap {
      @include grid-col-4;
    }
  }
}
