.banner {
  min-height: 640px;
  padding-right: 36px;
  padding-left: 36px;
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url(/public/app/images/banner_img.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
}

.layout-grid {
  position: relative;
}

.banner-content {
  padding: 50px;
  flex-direction: column;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;

  .banner-text {
    flex: 1;
    margin-bottom: 30px;

    .text-content {
      z-index: 1;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 80px;
      line-height: 96px;
      font-weight: 300;
    }
  }
}

@media (max-width: 992px) {
  .banner {
    padding: 0;
  }

  .banner-content {
    @include grid-col-8;
  }
}

@media (max-width: 768px) {
  .banner {
    min-height: 600px;
  }

  .banner-content {
    @include grid-col-8;

    .banner-text .text-content {
      font-size: 34px;
      line-height: 42px;
    }
  }
}

@media (max-width: 479px) {
  .banner-content {
    @include grid-col-4;
  }
}
