.pictures-feed {
  padding-top: 0px;
  padding-bottom: 100px;
}

.pictures-feed-grid {
  display: grid;
  min-height: 273px;
  margin-bottom: 56px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

  .pictures-feed-image {
    background-position: 50% 50%;
    background-size: cover;
    transition: opacity 200ms ease;

    &:hover {
      opacity: .7;
    }
  }

  .pictures-1 {
    background-image: url(/public/app/images/pendant_chandelier_environmental.jpeg);
  }

  .pictures-2 {
    background-image: url(/public/app/images/circatable_env.jpg);
  }

  .pictures-3 {
    background-image: url(/public/app/images/image_product_1.jpeg);
  }

  .pictures-4 {
    background-image: url(/public/app/images/occhio_whiteblackback.jpg);
  }

  .pictures-5 {
    background-image: url(/public/app/images/office_wall.jpg);
  }

  .pictures-6 {
    background-image: url(/public/app/images/bola_bedroom.jpg);
  }
}

@media (max-width: 992px) {
  .pictures-feed-grid {
    min-height: 170px;
  }
}

@media (max-width: 768px) {
  .pictures-feed-grid {
    min-height: 360px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
}

@media (max-width: 479px) {
  .pictures-feed-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }
}
