.show-our-product {
  padding-top: 0;
  padding-bottom: 100px;
}

.our-product-grid {
  @include grid-pc;
}

.our-product-image {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 13;
  position: relative;
  z-index: 1;
  min-height: 580px;
  margin-top: 67px;
  margin-right: 67px;
  margin-bottom: 67px;
  background-image: url(/public/app/images/solis_fabric.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.our-product-wrap {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 7;
  position: relative;
  z-index: 1;
  display: flex;
  height: 580px;
  margin-top: 67px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;

  .our-product-quote-wrap {
    padding-right: 40px;
  }
}

.our-product-grey-background {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100vw;
  height: 714px;
  align-items: center;
  background-color: #fafafa;
}

@media (max-width: 992px) {
  .our-product-grid {
    @include grid-laptop;
  }

  .our-product-image {
    @include grid-col-8;
    position: static;
    width: auto;
    min-height: 480px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 36px;
  }

  .our-product-wrap {
    @include grid-col-8;
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    .our-product-quote-wrap {
      margin-bottom: 20px;
    }
  }

  .our-product-grey-background {
    position: static;
    display: none;
  }
}

@media (max-width: 768px) {
  .our-product-grid {
    @include grid-tablet;
  }

  .our-product-image {
    min-height: 400px;
    margin-bottom: 18px;
    background-position: 50% 50%;
  }

  .our-product-wrap {
    .our-product-quote-wrap {
      padding-right: 0;
    }
  }
}

@media (max-width: 479px) {
  .our-product-grid {
    @include grid-mobile;
  }

  .our-product-image {
    @include grid-col-4;
  }

  .our-product-wrap {
    @include grid-col-4;
  }
}
