.contact-content-map {
  .map-grid {
    display: grid;
    width: 100%;
    max-width: 1200px;
    min-height: 460px;
    margin-right: auto;
    margin-left: auto;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  .map-content {
    @include grid-col-5;

    .map-form {
      margin-top: 50px;
      margin-bottom: 0px;
      align-self: center;
    }

    .button-sub {
      width: 100%;
      margin-top: 30px;

      &:hover {
        color: #fff;
      }
    }

    .bottom-margin-field {
      margin-bottom: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .map-wrap {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
