.all-products {
  .all-products-headline-wrap {
    @include grid-col-3;
  }

  .all-products-list {
    @include grid-col-9;

    .box-image {
      @include grid-col-4;
    }
  }
}


.box-image {
  .all-products-category-image {
    display: flex;
    height: 460px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
  }

  .image-1 {
    background-image: url(/public/app/images/pendant_chandelier_environmental.jpeg);
  }

  .image-2 {
    background-image: url(/public/app/images/image_product_11.jpg);
  }

  .image-3 {
    background-image: url(/public/app/images/Cielo_SatinAluminumEnv.jpg);
  }

  .overlay-button {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 992px) {
  .all-products {
    .all-products-headline-wrap {
      @include grid-col-8;
    }

    .all-products-list {
      @include grid-col-8;

      .box-image {
        @include grid-col-8;
      }
    }
  }
}

@media (max-width: 768px) {
  .all-products {
    .all-products-headline-wrap {
      @include grid-col-6;
    }

    .all-products-list {
      @include grid-col-6;

      .box-image {
        @include grid-col-6;
      }
    }
  }
}

@media (max-width: 479px) {
  .all-products {
    .all-products-headline-wrap {
      @include grid-col-4;
    }

    .all-products-list {
      @include grid-col-4;

      .box-image {
        @include grid-col-4;
      }
    }
  }
}
